body {
  background-colo: #7f4f24;
}

h1, h2, h3, h4, h5 {
  font-family: "Roboto", sans-serif;
}

.fotofondo {
  height: 10px;
}

.logo {
  text-align: center;
  display: block;
  background-color: #7f4f24;
  width: 90%;
  margin: auto;
}

.navbarnavbar-expand-lgbg-body-tertiary {
  display: flex;
  align-items: normal;
  width: 100%;
  background-color: #7f4f24;
}

.navbar-collapse {
  display: flex !important;
  flex-basis: auto;
  flex-direction: column;
}

.nav-list {
  list-style-type: sans-serif;
  text-align: center;
  height: 50px;
  line-height: 50px;
  background-color: rgba(15, 61, 14, 0.8784313725);
  align-items: center;
}

.nav-list li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  margin: 0 10px;
}

.nav-list li a:hover {
  color: #a5b419;
}

.nav-list li a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.nav-list li a i {
  margin-right: 5px;
}

#tablainicio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

#foto1 {
  grid-column: 1/2;
  width: 650px;
  height: auto;
  padding: 5px;
}

#parrafo1 {
  align-items: center;
}

#parrafo2 {
  padding: 40px;
}

.video {
  width: 100%;
  grid-column: 2;
  padding: 20px;
}

footer {
  display: flex;
  justify-content: center;
}

.mapa {
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
}

.social-media a i {
  font-size: 50px;
  image-orientation: from-image;
}

#tituloestudio {
  text-align: center;
}

#listamateriales {
  text-align: center;
}

#listamateriales {
  list-style-type: none;
}

#titulod {
  text-align: center;
}

#tituloc {
  text-align: center;
}

#tituloc {
  font-size: 28px;
}

#formulario {
  width: 300px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 5px;
}

.form-label {
  width: 100%;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-item {
  margin-bottom: 20px;
}

input[type=text], input[type=email], input[type=number] {
  border-radius: 8px;
  border: 1px solid #cecece;
  height: 36px;
  width: 100%;
  display: block;
}

textarea {
  border-radius: 8px;
  border: 1px solid #cecece;
  width: 100%;
  display: block;
}

.btn {
  background: #3498db;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  border: 1px solid #3498db;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.text-right {
  text-align: right;
}

.texto {
  text-align: justify;
  font-size: larger;
  font-family: rubik;
  padding: 10px;
}

.imggalleria {
  display: flex;
  overflow: hidden;
  width: 400px;
  height: 400px;
}

#serviciosup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  max-width: fit-content;
}

.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: #7f4f24 116 79 46 !important;
}

/*# sourceMappingURL=style.css.map */
